services/service/**/*/.git/
services/service/**/*/.DS_Store
services/service/**/*/.gitignore
services/service/**/*/.eslintrc.json
services/service/**/*/.dockerignore
services/service/.vscode
services/service/.tmp
services/service/package-lock.json
services/service/out
services/service/Dockerfile
services/service/build-utils/
services/service/locale_build/
services/service/scripts/
services/service/test/
services/service/*.md

packages/mongodb/
packages/database-mock/
packages/security-mock/