name: sasaki Dispatch Deploy Monitoring

on:
  workflow_dispatch:
    inputs:
      env_name:
        description: 'environment name'
        required: true
        default: 'develop'
        type: choice
        options:
          - develop
          - release
          - stage
          - prod

jobs:
  dispatch_action:
    name: Dispatch Action
    uses: cw-yn-test2/test-repo2/.github/workflows/reuse.yml@develop
    secrets: inherit
    with:
      env_name: ${{ inputs.env_name }}
