name: Action For Merge

on:
  pull_request:
    branches:
      - develop # for debug
      - 'release/**'
      - stage
      - main
    types:
      - closed
    paths:
      - '.github/**'
      - 'work/**'

jobs:
  goodbye:
    name: Goodbye
    if: ${{ github.event.pull_request.merged == true }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Echo Goodbye
        shell: bash
        working-directory: ./work
        run: |
          pwd
          echo "Goodbye!"

      - name: Check PR state
        shell: bash
        working-directory: ./work
        run: |
          if [[ "${{ github.event.pull_request.merged }}" == "true" && "${{ github.event.pull_request.title }}" == "[AMI Checker]Difference in AMI name from latest"* ]]; then
            echo "PR with the specified title has been merged, continue with your workflow steps..."
          # ここに実行したいコマンドやスクリプトを記述します
          else
            echo "PR does not meet the criteria, exiting..."
          fi

      # - name: Create GitHub dispatch event
      #   run: |
      #     curl --request POST 'https://api.github.com/repos/cw-yn-test2/test-repo2/dispatches' \
      #     --header 'Authorization: Bearer ${{secrets.MY_GITHUB_ACCESS_TOKEN}}' \
      #     --header 'Content-Type: application/json' \
      #     --data-raw '{
      #       "event_type": "test-repo1-updated",
      #       "client_payload": { "customField": "customValue" }
      #     }'