name: Action For Schedule

on:
  schedule:
    - cron: '*/5 * * * *'  # UTC

  workflow_dispatch:

jobs:
  dispatch_action:
    name: Dispatch Action
    uses: ./.github/workflows/reuse_ami_monitoring.yml
    secrets: inherit