name: Action For Schedule

on:
  schedule:
    - cron: '35 * * * *'  # UTC

jobs:
  create-release-pr:
    runs-on: ubuntu-latest

    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      # PRが既に存在するかどうかをチェック
      - name: Check If PR Exists
        id: check_pr
        run: |
          pr_title='[Bot] test'
          base_branch='main'
          echo "::set-output name=count::$(gh pr list -S ${pr_title}' in:title' -B $base_branch | wc -l)"
          echo "::set-output name=pr_title::$pr_title"
          echo "::set-output name=base_branch::$base_branch"
      # PRを作成
      - name: Create PR
        if: ${{ steps.check_pr.outputs.count == 0 }}
        run: |
          gh pr create -B ${{ steps.check_pr.outputs.base_branch }} -t ${{ steps.check_pr.outputs.pr_title }} -b ""