name: Deploy Monitoring

on:
  workflow_call:
    inputs:
      env_name:
        required: true
        type: string

permissions:
  id-token: write
  contents: read
  pull-requests: write
  issues: write

env:
  MESSAGE: abcdefg

jobs:
  greeting:
    name: Greeting
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.env_name }}
    env:
      environmentName: ${{ vars.ENVIRONMENT_NAME }}
      AWS_REGION: ap-northeast-1
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Test Action
        uses: ./.github/actions/test_action
        with:
          environmentName: ${{ env.environmentName }}
          message: ${{ env.MESSAGE }}

      - name: AWS Credentials
        uses: ./.github/actions/aws-credential
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Test Action
        uses: ./.github/actions/test_action2