name: Example workflow for Node using Snyk
on: push
jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Snyk CLI
        run: npm install -g snyk

      # - name: Snyk scan and import for work
      #   working-directory: ./packages/src
      #   run: snyk monitor -skip-unresolved --project-name-prefix=./packages/src
      #   env:
      #     SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      # - name: Snyk scan and import for work
      #   working-directory: ./
      #   run: snyk monitor --skip-unresolved --all-projects
      #   env:
      #     SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: docker build
        working-directory: ./packages/work1
        run: |
          docker build -t my-test:latest .

      - name: Run Snyk to check Docker image for vulnerabilities
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: my-test:latest
          args: monitor

      # - name: docker build2
      #   working-directory: ./packages/work2
      #   run: |
      #     docker build -t my-test2:latest .
      #     snyk container monitor my-test2:latest --file=Dockerfile
      #   env:
      #     SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}