name: Example workflow for Node using Snyk
on: push
jobs:
  security:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.step1.outputs.test }}
    steps:
      - uses: actions/checkout@v2
      - id: step1
      - run: |
          git fetch origin develop --depth=1
          pip install jc
          echo "PACKAGE_FOLDER="$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/.\//g' | jc --kv | jq keys | jq -c)"" >> $GITHUB_ENV
          run: echo "test=$PACKAGE_FOLDER" >> $GITHUB_OUTPUT
  job2:
    runs-on: ubuntu-latest
    needs: security
    strategy:
      matrix:
        value: ${{ fromJson(needs.security.outputs.output1) }}
    steps:
      - uses: actions/checkout@v2
      - run: npm install -g snyk
      - run: |
          cd ${{ matrix.value }} 
          npm install
      - run: |
          cd
          snyk monitor --dev --all-projects 
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}


