name: Example workflow for Node using Snyk
on: push
jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Snyk CLI
        run: npm install -g snyk

      - name: Snyk scan and import for work
        working-directory: ./work
        run: snyk monitor -skip-unresolved --project-name=work
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Snyk scan and import for work
        working-directory: ./work2
        run: snyk monitor --skip-unresolved --project-name=work2
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      # - name: Run Snyk to check for vulnerabilities
      #   uses: snyk/actions/node@master
      #   env:
      #     SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      #   with:
      #     command: monitor
      #     args: --all-projects

