name: Example workflow for Node using Snyk
on: push
jobs:
  security:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.value }}
    steps:
      - uses: actions/checkout@master
      - run: git fetch origin develop --depth=1
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: a7238f10-86dc-4b42-b2ff-a353ac4af51f
        with:
          command: monitor
      - name: package file list
        run: echo "$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/^/\//g')" 
      - name: package folder
        run: echo "$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/\//g')"
      - name: diff package file list
        run: echo "$(git diff --name-only origin/develop..HEAD | grep package.json | sed -e 's/^/\//g')"
      - name: diff package folder
        run: echo "$(git diff --name-only origin/develop..HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/\//g')"  
      - run: |
          echo "PACKAGE_FOLDER="$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/~\//g')"" >> $GITHUB_ENV
      - name: package folder env
        run: echo $PACKAGE_FOLDER
      - id: matrix
        run: |
          pr_list=$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/~\//g')#"
          echo "::set-output name=value::$(echo $pr_list | | tr '\n' ', ' | sed -e 's/#,//')"
  # get_pr_matrix:
  #   runs-on: ubuntu-latest
  #   outputs:
  #     matrix: ${{ steps.matrix.outputs.value }}
  #   steps:
  #     - uses: actions/checkout@master
  #     - id: matrix
  #       run: |
  #         pr_list=$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/~\//g')#"
  #         echo "::set-output name=value::$(echo $pr_list | | tr '\n' ', ' | sed -e 's/#,//')"
  do_process:
    needs: security
    runs-on: ubuntu-latest
    strategy:
      matrix:
        value: ${{ fromJson(needs.security.outputs.matrix) }}
    steps:
      - name: Processing for each pull request
      - run: |
          echo ${{ matrix.value }}
