name: Example workflow for Node using Snyk
on: push
jobs:
  security:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.step1.outputs.test1 }}
    steps:
      - uses: actions/checkout@master
      - run: git fetch origin develop --depth=1
      - run: pip install jc
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: a7238f10-86dc-4b42-b2ff-a353ac4af51f
        with:
          command: monitor
      - name: package file list
        run: echo "$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/^/\//g')" 
      - name: package folder
        run: echo "$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/\//g')"
      - name: diff package file list
        run: echo "$(git diff --name-only origin/develop..HEAD | grep package.json | sed -e 's/^/\//g')"
      - name: diff package folder
        run: echo "$(git diff --name-only origin/develop..HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/\//g')"  
      - run: |
          echo "PACKAGE_FOLDER="$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/.\//g')"" >> $GITHUB_ENV
      - name: Snyk scan and import for work
        run: |
          for folder in $PACKAGE_FOLDER
          do
            if [ $folder = './services' ] || [ $folder = './packages' ]; then
              pushd $folder && npm install
              if [ $(ls | grep -c requirements.txt) -gt 0 ]; then
                pip install -r requirements.txt
              fi
              npm install -g snyk
              snyk monitor --dev --all-projects
              popd
            fi
          done
        env:
          SNYK_TOKEN: a7238f10-86dc-4b42-b2ff-a353ac4af51f
      - name: docker build
        run: |
          docker build -t nodejs20:latest .
          snyk container monitor nodejs20:latest
        env:
          SNYK_TOKEN: a7238f10-86dc-4b42-b2ff-a353ac4af51f