name: Example workflow for Node using Snyk
on: push
jobs:
  security:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.step1.outputs.test }}
    steps:
      - uses: actions/checkout@master
      - run: git fetch origin develop --depth=1
      - run: pip install jc
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: a7238f10-86dc-4b42-b2ff-a353ac4af51f
        with:
          command: monitor
      - name: package file list
        run: echo "$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/^/\//g')" 
      - name: package folder
        run: echo "$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/\//g')"
      - name: diff package file list
        run: echo "$(git diff --name-only origin/develop..HEAD | grep package.json | sed -e 's/^/\//g')"
      - name: diff package folder
        run: echo "$(git diff --name-only origin/develop..HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/\//g')"  
      - run: |
          echo "PACKAGE_FOLDER="$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/.\//g' | jc --kv | jq keys | jq -c)"" >> $GITHUB_ENV
      - name: package folder env
        run: echo $PACKAGE_FOLDER
      - id: step1
        run: echo "test=$PACKAGE_FOLDER" >> $GITHUB_OUTPUT
      - run: pwd
  job2:
    runs-on: ubuntu-latest
    needs: security
    strategy:
      matrix:
        # value: echo "$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/~\//g')]" | tr '\n' ', ' | sed -e 's/],/]/'
        value: ${{ fromJson(needs.security.outputs.output1) }}
    steps:
      - run: cd ${{ matrix.value }}
  # sample:
  #   runs-on: ubuntu-latest
    
  #   strategy:
  #     matrix:
  #       # value: echo "$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/~\//g')]" | tr '\n' ', ' | sed -e 's/],/]/'
  #       value: [{{ $PACKAGE_FOLDER }}]
  #   steps:
  #     - name: sample
  #       run: |
  #         echo "${{ matrix.value }}"  
# jobs:
#   job1:
#     runs-on: ubuntu-latest
#     # ステップの出力をジョブの出力にマップする
#     outputs:
#       output1: ${{ steps.step1.outputs.test }}
#       output2: ${{ steps.step2.outputs.test }}
#     steps:
#       - id: step1
#         # run: echo "::set-output name=test::hello"
#         run: echo "test=hello" >> $GITHUB_OUTPUT
#       - id: step2
#         # run: echo "::set-output name=test::world"
#         run: echo "test=world" >> $GITHUB_OUTPUT
  # job2:
  #   runs-on: ubuntu-latest
  #   needs: security
  #   steps:
  #     - run: echo ${{needs.security.outputs.output1}}