name: Example workflow for Node using Snyk

on: 
  push:

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Snyk CLI
        run: npm install -g snyk

      - name: cd src
        run: |
          cd services/src
          pip install -r requirements.txt
  
      - name: Snyk scan and import for work
        run: |
          cd work
          npm install
          snyk monitor --dev --file=package.json
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
