name: Example workflow for Node using Snyk

on: 
  workflow_dispatch:

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Snyk CLI
        run: npm install -g snyk

      - name: Snyk scan and import for work
        run: |
          cd services/src
          pip install -r requirements.txt
          cd cd ../..
          snyk monitor --all-projects --dev
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
