name: Example workflow for Node using Snyk
on: push
jobs:
  security:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.step1.outputs.test1 }}
    steps:
      - uses: actions/checkout@master
      - run: git fetch origin develop --depth=1
      - run: pip install jc
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: a7238f10-86dc-4b42-b2ff-a353ac4af51f
        with:
          command: monitor
      - name: package file list
        run: echo "$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/^/\//g')" 
      - name: package folder
        run: echo "$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/\//g')"
      - name: diff package file list
        run: echo "$(git diff --name-only origin/develop..HEAD | grep package.json | sed -e 's/^/\//g')"
      - name: diff package folder
        run: echo "$(git diff --name-only origin/develop..HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/\//g')"  
      - run: |
          echo "PACKAGE_FOLDER="$(git ls-tree --name-only -r HEAD | grep package.json | sed -e 's/\/package.json//' -e 's/package.json//' -e 's/^/.\//g')"" >> $GITHUB_ENV
          echo "PWD=$(pwd)" >> $GITHUB_ENV
      - id: step1
        run: echo "test1=$PACKAGE_FOLDER" >> $GITHUB_OUTPUT
      - run: |
          for folder in $PACKAGE_FOLDER
          do
            cd $PWD
            cd $folder && npm install
          done
      - name: Snyk scan and import for work
        run: |
          npm install -g snyk
          snyk monitor --dev --all-projects
  # job2:
  #   runs-on: ubuntu-latest
  #   needs: security
  #   strategy:
  #     matrix:
  #       value: ${{ fromJson(needs.security.outputs.output1) }}
  #   steps:
  #     - uses: actions/checkout@master
  #     - run: cd ${{ matrix.value }} && npm install
  # job3:
  #   runs-on: ubuntu-latest
  #   needs: job2
  #   steps:
  #     - uses: actions/setup-node@v4
  #     - name: cache node modules
  #       id: cache-node-modules
  #       uses: actions/cache@v4
  #       env:
  #         cache-name: cache-dependency
  #       with:
  #         path: "**/node_modules"
  #         key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}
  #     - uses: actions/checkout@master
  #     - name: Snyk scan and import for work
  #       run: |
  #         npm install -g snyk
  #         snyk monitor --dev --all-projects
  #       env:
  #         SNYK_TOKEN: a7238f10-86dc-4b42-b2ff-a353ac4af51f